{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pricing - Faster Logistics</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

{% include "header.html" %}

<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height:300px">
            <h3 class="display-4 text-white text-uppercase">Pricing</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Pricing</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Pricing Plan Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Pricing Plan</h6>
            <h1 class="mb-4">Affordable Pricing Packages</h1>
        </div>

        <div class="row">

            <div class="col-md-4 mb-5">
                <div class="bg-secondary">
                    <div class="text-center p-4">
                        <h1 class="display-4 mb-0">
                            <small class="align-top text-muted" style="font-size:22px">$</small>49
                            <small class="align-bottom text-muted" style="font-size:16px">/Mo</small>
                        </h1>
                    </div>

                    <div class="bg-primary text-center p-4">
                        <h3 class="m-0">Basic</h3>
                    </div>

                    <div class="d-flex flex-column align-items-center py-4">
                        <p>HTML5 & CSS3</p>
                        <p>Bootstrap 4</p>
                        <p>Responsive Layout</p>
                        <p>Compatible With All Browsers</p>
                        <a href="#" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="bg-secondary">
                    <div class="text-center p-4">
                        <h1 class="display-4 mb-0">
                            <small class="align-top text-muted" style="font-size:22px">$</small>99
                            <small class="align-bottom text-muted" style="font-size:16px">/Mo</small>
                        </h1>
                    </div>

                    <div class="bg-primary text-center p-4">
                        <h3 class="m-0">Premium</h3>
                    </div>

                    <div class="d-flex flex-column align-items-center py-4">
                        <p>HTML5 & CSS3</p>
                        <p>Bootstrap 4</p>
                        <p>Responsive Layout</p>
                        <p>Compatible With All Browsers</p>
                        <a href="#" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="bg-secondary">
                    <div class="text-center p-4">
                        <h1 class="display-4 mb-0">
                            <small class="align-top text-muted" style="font-size:22px">$</small>149
                            <small class="align-bottom text-muted" style="font-size:16px">/Mo</small>
                        </h1>
                    </div>

                    <div class="bg-primary text-center p-4">
                        <h3 class="m-0">Business</h3>
                    </div>

                    <div class="d-flex flex-column align-items-center py-4">
                        <p>HTML5 & CSS3</p>
                        <p>Bootstrap 4</p>
                        <p>Responsive Layout</p>
                        <p>Compatible With All Browsers</p>
                        <a href="#" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Pricing Plan End -->

{% include "footer.html" %}

</body>
</html>